/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }



body {
    color: #bdc3c7;
    background-color: #bdc3c7;
    margin: 3rem 0 0 2rem;
}

.obsah {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    text-align: left;
}

img {
    display: block;
}

.profil{
    background-color:#31363b;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.7) 2px 1px 10px
}

.foto {
    width: 250px;
}

.hlavicka {
    position: relative;
}

.logo {
    background-color: #b92e81;
    border-radius: 50%;
    position: absolute;
    left: 175px;
    top: 140px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 25px;
    color: whitesmoke;
    text-align: left;
    padding: 0 1rem;  
}

p{
    padding: 0 1rem;  
}


.odkazy {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0;
}

.jmeno,
.odkazy {
    font-family: 'Montserrat', sans-serif;
}

.portfolio,
.facebook,
.twitter {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
}

.odkazy a{
    display: block;
    color: #bdc3c7;
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
    margin: 0;
}

.portfolio{
    border-bottom: 1px solid #3f464d;
    border-top: 1px solid #3f464d;;
    width: 100%;
   }

.facebook{
    border-right: 1px solid #3f464d;
    width: 50%;
}

.twitter {
    width: 50%;
}


.portfolio a:hover,
.portfolio a:focus, 
.portfolio a:active{
    background-color:#e74c3c;
    color: whitesmoke;
    width: 100%;
}

.facebook a:hover,
.facebook a:focus, 
.facebook a:active{
    background-color:#3b5998;
    color: whitesmoke;
    width: 100%;
}

.twitter a:hover,
.twitter a:focus, 
.twitter a:active{
    background-color: #1da1f2;
    color: whitesmoke;
    width: 100%;
}


